html{
    font-family: 'Montserrat', sans-serif;
}

body{
    margin: 0;
    background-color: #efefef;
}

header{
    background-color: #5c068c;
    color: white;
    padding: 0.5rem 1rem;
}

header h1{
    font-size: 1.7rem;
    text-align: center;
}

nav.main-menu ul {
    list-style-type: none;
    padding: 0.4rem;
    text-align: center;
    margin: 0;
    background-color: #5c068c;
}

nav.main-menu li {
    display: inline-block;
    margin: 0 20px;
}

nav.main-menu a {
    text-decoration: none;
    font-size: 1.2rem;
    color: white;
    padding: 10px;
    display: block;
    transition: background-color 0.3s ease;
    border-radius: 8px;
}

nav.main-menu a:hover {
    background-color: #6f239a;
    
}

.square{
    width: 95%;
    margin: 1.5rem auto;
    background-color: #ffffff;
    padding: 1.5rem;
    border-radius: 0.5rem;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

.square a{
    transition: color 0.3s ease;
    text-decoration: none;
    color: inherit;
    font-style: italic;
}

.square a:hover {
    color: #858585;
}

.section {
    margin-bottom: 1.5rem;
}

footer{
    background-color: #222;
    padding: 3rem;
    color: white;
    clear: both;
}

.links{
    float: right;
}

.links img{
    width: 12rem;
}

footer p{
    margin: 0;
}

footer a{
    color: #ffffff;
    text-decoration: none;
    transition: color 0.3s ease;
}

footer a:hover{
    color: #858585;
}

.container{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3rem;
    padding: 1rem;
}

.tanqueAgua{
    width: 22rem;
    height: auto;
}

.toggle{
    display: flex
}

input[type=checkbox].toggle {
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    width: 4rem;
    height: 2rem;
    border-radius: 1rem;
    background-color: #ddd;
    outline: 0;
    cursor: pointer;
    transition: background-color 0.09s ease-in-out;
    position: relative;
}

input[type=checkbox].toggle:checked {
    background-color: #5c068c;
}

input[type=checkbox].toggle::after {
    content: '';
    width: 2rem;
    height: 2rem;
    background-color: white;
    border-radius: 2rem;
    position: absolute;
    transform: scale(0.7);
    left: 0;
    transition: left 0.09s ease-in-out;
    box-shadow: 0 0.1em rgba(0, 0, 0, 0.5);
}

input[type=checkbox].toggle:checked::after {
    left: 2rem;
}

.changeTankLevel {
    text-align: left;
    margin: 20px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.display {
    display: flex;       
    align-items: center;  
    justify-content: space-around; 
    gap: 10px;           
}


input[type="number"] {
    width: 3rem;
}

.container button{
    text-decoration: none;
    font-size: 1.5rem;
    padding: 0rem 1rem;
    display: block;
    transition: background-color 0.3s ease;
    cursor: pointer;
}

.controls-container {
    display: flex;        /* Usa Flexbox para alinear elementos horizontalmente */
    align-items: center;  /* Centra los elementos verticalmente */
    justify-content: flex-start; /* Alinea elementos al inicio del contenedor */
    gap: 2rem;            /* Establece un espacio entre los elementos */
}

input[type="checkbox"].toggle {
    margin-left: -0.2rem;  /* Ajusta este valor según sea necesario */
}

.chart-container {
    display: flex;
    align-items: center;
    width:45%; /* Ajusta al ancho disponible */
    box-shadow: 0 0 1rem rgba(0,0,0,0.1);
    font-size: 3rem;
}

.historico-container {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    gap: 1rem; /* Espacio entre las columnas */
}

.date-inputs {
    display: flex;
    flex-direction: column;
    gap: 1rem; /* Espacio entre los elementos de entrada */
}

.historic-chart-container {
    flex-grow: 1; 
    max-width: 80%; 
    align-items: center;
    box-sizing: border-box; /* Incluir padding dentro del tamaño del elemento */
    margin: 0rem 2rem 0rem 0rem;
    box-shadow: 0 0 1rem rgba(0,0,0,0.1);
    font-size: 3rem;
}